<a href="https://colab.research.google.com/github/KrizzaCasandra/58002-OOP/blob/main/LOOP_STATEMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

 **FOR LOOP STATEMENT**

In [8]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
   print(x)
   if x=="Thursday":
     break

Sunday
Monday
Tuesday
Wednesday
Thursday

**for loop through string**

In [5]:
for x in  "week":
  print(x)

w
e
e
k

for loop using break statement

In [19]:
for x in week: 
if x == "Thursday":
print(x)
break

IndentationError: ignored

RANGE FUNCTION

In [20]:
for x in range(6):print(x)

0
1
2
3
4
5

In [21]:
for x in range(2, 6):print(x)

2
3
4
5

NESTED LOOP

In [25]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

WHILE STATEMENT

In [35]:
i = 1
while i < 6:
  print(i)i += 1 #i = i+1 Assignment operator

SyntaxError: ignored

CONTINUE STATEMENT

In [34]:
i = 0
while i < 6:i += 1if i == 3:
  continue
  print(i)

SyntaxError: ignored

**APPLICATION 1**

In [48]:
hello = ["hello 0", "hello 1","hello 2","hello 3","hello 4","hello 5","hello 6","hello 7","hello 8","hello 9","hello 10"]
for x in hello:
  print(x)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

**APPLICATION 2**

In [69]:
for x in range(3,10):
 print(x)
else:
  print("x is less than 10 but not less than 3")

SyntaxError: ignored